<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="filename">MAerrlog.log</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{%d{HH:mm:ss.SSS} [%t] %-5level - %msg%n}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=green, DEBUG=white bold, TRACE=blue}"/>
        </Console>
	<File name="File" fileName="${filename}" append="false" bufferedIO="true">
	    <ThresholdFilter level="WARN" onMatch="ACCEPT" onMismatch="DENY"/>
	    <PatternLayout>
		<pattern>%d %p %C{1.} [%t] %m%n</pattern>
	    </PatternLayout>
	</File>
    </Appenders>
    <Loggers>
        <Root level="all">
            <AppenderRef ref="Console"/>
	    <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>
